.Navbar{
    background-color: aliceblue;
    height: 10%;
    flex-direction: column;
    padding: 20px;
}

.flex-column{
    flex: 3;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    text-decoration: none;
    color: goldenrod;
}

.flex-column:hover {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 10px;
}




li{
    color: black;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG9OTebbirEJZnVxKnp6WNUUI55eeVN062RQ&usqp=CAU);
    margin: auto;
    flex-direction: column;
}

.Header{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

.AboutMe{
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 20px;
}

img{
    height: 320px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 12px;  
}

.mission{
    background-color: black;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 100%;
}