.Navbar{
    background-color: aliceblue;
    height: 10%;
    flex-direction: column;
    padding: 20px;
}

.flex-column{
    flex: 3;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    text-decoration: none;
    color: goldenrod;
}

.flex-column:hover {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 10px;
}


a:hover{
    transition: 1s;
    color: goldenrod;
}



li{
    color: black;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG9OTebbirEJZnVxKnp6WNUUI55eeVN062RQ&usqp=CAU);
    margin: auto;
    flex-direction: column;
}


.Header{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

.AboutMe{
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
    padding: 30px;
}

img{
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 12px;  
}

.mission{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 900px;
    margin: 20px;
    padding: 20px;
    font-size: larger;
}

.indexPic{
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    padding: 20px;
}

.aboutmepage{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.contactform{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

label{
    display: block;
    margin-bottom: 10px;
}

input, textarea{
    width: 40%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: goldenrod;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: goldenrod;
    box-shadow: inset 0 0 10px;
}

.Footer{
    /* display: flex;
    flex-direction: row; */
}

